*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, 
ol, 
li {
    list-style: none;
}
img{
    vertical-align: top;
    }
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    font-weight: inherit;
    font-size: inherit;

}
html, 
body{
    height: 100%;
    line-height: 1;
}
body{
    font-family: Rubik;
    font-weight: 400;
    font-size: 12px;
    color: #616161;
}
main {
    flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1087px;
    margin: 0 auto;
    padding: 0px 15px;
}
@keyframes stay-safe {

    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
        transform: translateY(-30px);
    }

    80% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@keyframes experts {

  
    100% {
        transform: rotate(2.5turn);        
    }
    
}

/*---------------------WRAPPER--------------------*/
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/*---------------------MEDIA--------------------*/
/*---------------------PC--------------------*/
@media (max-width: 1057px){
    [class*="__container"] {
    max-width: 970px;
   
    }
}
/*---------------------TABLET--------------------*/
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

/*---------------------MOBILE--------------------*/
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}
/*---------------------MOBILE-SMALL--------------------*/
@media (max-width: 479.98px){

}
/*---------------------BLOCK_TEXT--------------------*/

.block-text {}
.block-text_center{
    text-align: center;
}
.block-text__text_mw{
    max-width: 600px;
    margin: 0px auto;
}
.block-text__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000000;
}

.block-text__title:not(:last-child) {
    margin: 0px 0px 12px 0px;
}

.block-text__title span {
    color: #EC5863;

}

.block-text__title-blue span {

    color: #4285F4;

}

.block-text__text {
    line-height: 138.5%;
    color: #616161;
}

.block-text__text:not(:last-child) {
    margin: 0px 0px 24px 0px;
}

.block-text__button {}
@media(max-width: 767.98px){
    .block-text__title{
        font-size: 34px;
    }

}
/*---------------------HEADER--------------------*/
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}



.header__container{
    display: flex;
    align-items: center;
   min-height: 114px;
}

.header__logo{
    position: relative;
    z-index: 5;

}
.header__menu{
    flex: 1 1 auto;
}
.header__button{
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: flex-end;
    

}
.menu__list{
    display: flex;
}
.menu__item{
    margin: 0px 40px 0px 0px;

}

.menu__link{
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2px;
    color: #000000;
    transition: color 0.s ease 0s
}
.menu__link:hover{
    
    color:#EC5863;
}
@media (max-width: 991.98px) {
    .menu__item {
        margin: 0px 30px 0px 0px;
    }

    .header__button {
        flex: 0 0 170px;
    }

    .header__container {
        min-height: 90px;
    }
}
@media (max-width: 767.98px) {
    .menu__body{
            position: fixed;
            top: 0;
            overflow: auto;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #afbeeb;
            padding: 80px 15px 30px 15px ;
            transition: left 0.2s ease 0s;
        }
    .header:target .menu__body{
            left: 0;
        }
    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background-color: #afbeeb;
    }

    .menu__link{
        color: #FCFDFE;
        font-size: 20px;
    }
    .menu__item {
        margin: 0px 0px 30px 0px;
    }
    .menu__item:last-child{
        margin-bottom: 0px;
        }

    .menu__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}
@media (max-width: 479.98px){
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }

}
/*---------------------BUTTON--------------------*/
.button{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 10px;
    line-height: 1.2px;
    letter-spacing: 1px;
    color: #FCFDFE;
    padding: 15px 30px;
    border-radius: 5px;
    background: #EC5863;
    transition: background-color 0.3s ease 0s ;
}
.button:hover{
    background-color:#e59ba0;

}
.button_blue{
background: #4285F4;
}
.button_blue:hover{
    background-color: #a0a0f1;
}
/*---------------------BURGER_MENU--------------------*/
.icon-menu {
    display: none;
}
@media (max-width: 767.98px) {
   
.icon-menu, .icon-menu-close {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 20px;
}

.icon-menu::before,
.icon-menu::after {
    content: "";
    background-color: #000000;
    height: 2px;
}

.icon-menu span {
    height: 2px;
    background-color: #000000;
}
.icon-menu-close  {
    display: none;
}
.icon-menu-close::before,
.icon-menu-close::after{
    content: "";
    background-color: #000000;
    height: 2px;
    transform-origin: 0 0;
}
.icon-menu-close::before{
    content: "";
    transform: rotate(36deg);
}
.icon-menu-close::after{
    content: "";
    transform: rotate(-32deg);
}
.header:target .icon-menu{
    display: none;
}
.header:target .icon-menu-close {
    display: flex;
}
}

/*---------------------GET_STARTED_--------------------*/
.get-started {
    background-color: #FAFBFD;
    
}
.get-started__container{
    padding: 150px 15px 50px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.get-started__container::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 267px;
    top: 0;
    transform: translate(100%, 0px);
    background-color: #EC5863;
    border-radius: 30px 0px 0px 30px;
}

.get-stated__content{
    flex: 0 1 48%;
    padding: 0px 20px;

}
.get-stated__block-text{
    max-width: 410px;

}

.get-started__video{
    padding: 60px 0px 0px 20px;
    flex: 1 1 100%;
}
.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.get-started__image img {
    max-width: 100%;
}
.video-get-stated{
    display: inline-flex;
    align-items: center;
   }
.video-get-stated__icon{
    flex: 0 0 44px;

}
.video-get-started__body{
    
    padding: 0px 0px 0px 12px;

}
.video-get-started__title{
    font-size: 13px;
    line-height: 126%;
    color: #B0B0B0;
    letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}
.video-get-started__text{
    font-weight: 400;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 2px;
    color: #000000;

}
@media(max-width: 991.98px) {
    .get-started__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}

@media(max-width: 767.98px) {
    .get-started__container {
        padding: 100px 15px 30px 15px;
    
    }
    .get-started__container::before {
        display: none;
    }
    .get-stated__block-text {
        max-width: none;
            
    }
    .get-stated__content {
        flex: 1 1 100%;
        padding: 0;    
    }
    .get-started__image {
        flex: 1 1 100%;
       text-align: center;
        padding: 30px 0px;
    }
    .get-started__video{
        padding: 0;

    }
}
/*---------------------STAY_SAFE--------------------*/
.stay-safe{
    padding: 80px 0px;

}
.stay-safe__container{
    display: flex;
    align-items: center;

}
.stay-safe__media{
    flex: 0 1 50%;
    padding: 0px 0px 0px 47px;

}

.stay-safe__content{
    flex: 0 1 50%;

}
.stay-safe__block-text{
    
}
.media-stay-safe {
    width: 373px;
    padding: 56px 0px 27px 0px;
    text-align: center;
    position: relative;
}
.media-stay-safe:hover .media-stay-safe__item {
    animation: stay-safe 1s;
}

.media-stay-safe__image {
    position: relative;
    display: inline-block;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    
    width: 61.5%;
}

.media-stay-safe__image img{
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.media-stay-safe__image::after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 12px;
    width: 206px;
    height: 27px;
    z-index: 2;
    background-color: rgba(240, 240, 240, 0.49);
    border-radius: 16px;

}
.media-stay-safe__item{
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
    width: 77px;
    height: 77px;


}

.media-stay-safe__item_1{
    top: 0;
    left: 0;
    width: 147px;
    height: 147px;
}

.media-stay-safe__item_2{
    bottom: 0px;
    left: 33px;
}
.media-stay-safe__item_3{
    bottom: 107px;
    right: 34px;

}
@media(max-width: 991.98px) {
.stay-safe {
    padding: 40px 0px;
    }
}
@media(min-width: 991.98px) {
.stay-safe__media {
    padding: 0px 0px 0px 47px;
}
}
@media(max-width: 767.98px) {
    .stay-safe__container {
        flex-direction: column-reverse;
    }
    .stay-safe__content {
        margin-bottom: 30px;    
    }
    .stay-safe {
        padding: 30px 0px;
    }
}
@media(max-width: 479.98px){
.media-stay-safe {
    width: 290px;

}
}
/*---------------------EXPERTS--------------------*/
.experts{
    background-color: #FAFBFD;
    padding: 103px 0px 116px 0px;

}
.experts__container{

}
.experts__statictics:hover .statictics-experts__decor{
    animation: experts 1s;
    

}
.experts__block-text {
    max-width: 400px;
}
.statictics-experts{
    max-width: 655px;
    margin: 0px auto;
    position: relative;

}
.experts__body{
    display: flex;
    align-items: center;
    
}
.experts__content{
    flex: 0 1 50%;
    padding: 0px 20px 0px 0px;

}   
.experts__video {
    flex: 0 1 50%;
    padding-bottom: 30%;
    position: relative;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    overflow: hidden;
}


.experts__video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media(max-width: 767.98px) {
    .experts__body {
        align-items: stretch;
        flex-direction: column;
    }
    .experts__video { 
        padding-bottom: 58%;
    }
    .experts__content {
        padding: 0;
        margin-bottom: 30px;
    
    }
    .experts {
        padding: 80px 0px 30px 0px;
    
    }
   

}
@media(max-width: 767.98px) {
    .experts__body {
        align-items: stretch;
        flex-direction: column;
    }
    .experts__video { 
        padding-bottom: 58%;
    }
    .experts__content {
        padding: 0;
        margin-bottom: 30px;
    
    }
}
@media(max-width: 767.98px) {
    .body-stistics-experts {
        padding: 25px;
      
    }
    .statictics-experts__body {
        margin-bottom: 50px;
    
    }

}
@media(max-width: 479.98px) {
    .body-stistics-experts {
       flex-direction: column;
    
    }
    .body-stistics-experts__item:not(:last-child){
        margin: 0px 0px 15px 0px;
    }
    

}

.statictics-experts__decor {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
}

.statictics-experts__decor_1 {
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -31px;
    border-radius: 16px;


}

.statictics-experts__decor_2 {
    width: 97px;
    height: 97px;
    right: 50%;
    top: -40px;
    transform: rotate(30deg);

}

.statictics-experts__decor_3 {
    width: 127px;
    height: 127px;
    right: -9%;
    top: -3px;
    transform: rotate(-30deg);

}
.statictics-experts__body{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    margin-bottom: 80px;

}
.body-stistics-experts{
    padding: 25px 80px;
    display: flex;
    align-items: center;

}
.body-stistics-experts__item{
    flex: 0 1 25%;
    text-align: center ;

}
.body-stistics-experts__item:last-child{
    flex: 0 1 50%;
}
.body-stistics-experts__value{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;   
    letter-spacing: 1px;
    color: #EC5863;
    margin-bottom: 5px;

}
.body-stistics-experts__text{
    font-weight: 700;
    font-size: 11px;
    line-height: 1.18;
   
    letter-spacing: 3px;
    text-transform: uppercase;
        
    color: #000000;

}
/*---------------------Healthcare--------------------*/
.healthcare{
    padding: 80px 0px 30px 0px;

}
.healthcare__container{

}
.healthcare__block-text{
    margin-bottom: 45px;
}
.healthcare__items{
    
    display: flex;
    max-width: 980px;
    margin: 0 auto;
}
.healthcare__item{
    position: relative;
    margin-right: 72px;
    
}
.healthcare__item:last-child{
    margin-right: 0px;
}
.item-healthcare{
    
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 17px;

}
.item-healthcare__icon{
    width: 87.43px;
    height: 72px;
    margin-bottom: 58px;
}
.healthcare__item:hover .item-healthcare__icon{
    transform: scale(1.5, 1.5);

}

.item-healthcare__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;    
    color: #000000;
    margin-bottom: 4px;

}
.item-healthcare__text{
    line-height: 138.5%;  
}
.item-healthcare_1::before,
.item-healthcare_1::after{
    content: "";
    position: absolute;
    background-color: #EC5863;
    border-radius: 16px;
    z-index: -1;
}

.item-healthcare_1::before {
    content: "";
    width: 65px;
    height: 65px;
    bottom: -34px;
    left: -25px;
    transform: rotate(-30deg); 
    
}

.item-healthcare_1::after {
    content: "";
    width: 97px;
    height: 97px;
    top: 45px;
    right: -48px;
    border-radius: 30px;
    transform: rotate(30deg);    
}


.item-healthcare_2::after {
    content: "";
    position: absolute;
    background-color: #EC5863;
    z-index: -1;
    width: 127px;
    height: 127px;
    top: 158px;
    right: -81px;
    border-radius: 30px;
    transform: rotate(-30deg);
}
.item-healthcare_3::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    top: -37px;
    right: -25px;
    transform: rotate(-30deg);
    background-color: #EC5863;
    border-radius: 16px;
    z-index: -1;
}
@media(max-width: 767.98px) {
    .healthcare__items {
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .item-healthcare {
        max-width: 350px;
        margin-right: 0;
    }

    .item-healthcare:not(:last-child) {
        margin-bottom: 15px;
    }

    .item-healthcare_3::after {
        top: 200px;
        right: -25px;
    }

}
@media(max-width: 479.98px) {
    .healthcare__items {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .item-healthcare {
       max-width: 350px;
        margin-right: 0;
    }
    .item-healthcare:not(:last-child){
        margin-bottom: 15px;
    }
    .item-healthcare_3::after {
        top: 200px;
        right: -25px;
    }

}


/*---------------------FOOTER--------------------*/
.footer{
    padding: 45px 0px;

}

.footer__items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__item:not(:last-child){
    margin-right: 57px;

}
@media(max-width: 479.98px){
    .footer__items{
        flex-direction: column;
    }
    .footer__item:not(:last-child){
        margin-right: 0;
    }
}
@media(max-width: 767.98px){
    .footer__items {
        flex-direction: column;
    }
    
    .footer__item:not(:last-child) {
        margin-right: 0;
    }
}

