.icon-menu {
    display: none;
}

@media (max-width: 767.98px) {

    .icon-menu,
    .icon-menu-close {
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000000;
        height: 2px;
    }

    .icon-menu span {
        height: 2px;
        background-color: #000000;
    }

    .icon-menu-close {
        display: none;
    }

    .icon-menu-close::before,
    .icon-menu-close::after {
        content: "";
        background-color: #000000;
        height: 2px;
        transform-origin: 0 0;
    }

    .icon-menu-close::before {
        content: "";
        transform: rotate(36deg);
    }

    .icon-menu-close::after {
        content: "";
        transform: rotate(-32deg);
    }

    .header:target .icon-menu {
        display: none;
    }

    .header:target .icon-menu-close {
        display: flex;
    }
}